/* Dodatkowy styl dla linków */
a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Styl dla containera z typami samochodów */
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla artykułów */
.article {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla stopki */
footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


